{{ relation.name }}: {
        relation: Model.HasManyRelation,
        modelClass: {{ relation.class }},
        join: {
          from: '{{ relation.from.table }}.{{ relation.from.column }}',
          to: '{{ relation.to.table }}.{{ relation.to.column }}'
        }
      }