{{ relation.relationName }}: {
        relation: Model.ManyToManyRelation,
        modelClass: {{ relation.relationClass }},
        join: {
          from: '{{ relation.relationParentTable }}.{{ relation.relationParentTableColumn }}',
          through: {
            from: '{{ relation.relationMidTable }}.{{ relation.relationMidTableFromColumn}}',
            to: '{{ relation.relationMidTable }}.{{ relation.relationMidTableToColumn}}'
          },
          to: '{{ relation.relationEndTable }}.{{ relation.relationEndTableColumn }}'
        }
      }