{{ relation.name }}: {
        relation: Model.ManyToManyRelation,
        modelClass: {{ relation.class }},
        join: {
          from: '{{ relation.from.table }}.{{ relation.from.column }}',
          through: {
            from: '{{ relation.through.from.table }}.{{ relation.through.from.column }}',
            to: '{{ relation.through.to.table }}.{{ relation.through.to.column }}',
          },
          to: '{{ relation.to.table }}.{{ relation.to.column }}'
        }
      }