destroy(req, res) {
    {{ serviceName }}.delete(req.params.id)
      .then(_ => {
        res.status(204).send();
      })
      .catch((error) => {
        if (error instanceof ValidationError)
          res.status(400);
        else if (error instanceof NotFoundError)
          res.status(404);
        else
          res.status(500);

        res.json({
          error: true,
          message: error.message
        });
      });
  }