index(req, res) {
    const { s, page } = req.query;

    {{ serviceName }}.get(s, page)
      .then(({{ varNamePlural }}) => {
        res.json({{ varNamePlural }});
      })
      .catch((error) => {
        res.status(500)
          .json({
            error: true,
            message: error.message
          });
      });
  }