show(req, res) {
    {{ serviceName }}.getOne(req.params.id)
      .then(({{ varName }}) => {
        res.json({{ varName }});
      })
      .catch((error) => {
        res.status(error instanceof NotFoundError ? 404 : 500)
          .json({ error );
      });
  }