static async update({ id = null, data, method }) {
    let {{ varName }} = {{ modelClassName }}.query()
      .throwIfNotFound();

    if (method == 'PUT')
      return await {{ varName }}.updateAndFetchById(id, data);
    
    return await {{ varName }}.patchAndFetchById(id, data);
  }